* {
    box-sizing: border-box;
  }
  body {
    background-color: #f2f2f2;
    margin: 0;
  }
  .navbar {
    width: 100%;
    color: white;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 2% 0% 2%;
    background-color: #2d2d2d;
    }
    #logo:hover{
      cursor: pointer;
    }
  .navbar img {
    width: 100%;
  }
  .navbar h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 30px;
  }

  #container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
     margin-top: 10px;
  }
  .left {
    width: 60%;
  }
  .L1 {
    background-color: white;
    padding: 20px;
  }
  .L1 h2 {
    padding-left: 10px;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  }
  #country {
    width: 50%;
    height: 40px;
    margin-left: 5%;
  }
  .L3 {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    padding: 5%;    
  }
  .L3 h2 {
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    margin-bottom: 25px;
  }
  .L3 input {
    width: 50%;
    margin-left: 5%;
  }
  .L4 {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    padding-left: 30px;
    padding-bottom: 20px;
  }
  .L4 h2 {
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    margin-bottom: 25px;
  }
  .L4 h3 {
    font-size: 18px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    margin-bottom: 25px;
  }
  .L4 p {
    font-weight: bold;
    color: darkgray;
  }
  .L4 input {
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
  }
  #delivery {
    margin-top: 10px;
    height: 40px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-color: #2d2d2d;
  }
  #delivery:hover {
    cursor: pointer;
    background-color: black;
  }
  .L5 {
    margin-top: 10px;
    background-color: white;
    padding: 0% 2% 2% 2%;
    display: flex;
    flex-direction: column;    
  }
  .L5A {
    display: flex;
    justify-content: space-between;
    border: 1px solid #2d2d2d;
    margin-top: 5px;
    padding: 0% 4% 0% 4%;
  }
  .L5 h3{
    text-align: center;
    font-size: 15px;
  }
  #buy {
    width: 90%;
    margin:5% 0% 5% 5%;
    height: 50px;
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
  }
  #buy:hover {
    cursor: pointer;
    background-color: darkgreen;
  }
  #policy {
    width: 100%;
  }

  .right {
    width: 37.5%;
    padding: 10px;
  }
  #R1 {
    padding: 10px;
    background-color: white;
    font-size: 11px;
    padding-left: 20px;
    display: flex;
  }
  .totalItems {
    padding-left: 10px;
    margin-right: 20px;
  }
  .cart {
    display: flex;
    margin-bottom: 20px;
  }
  .cart img {
    width: 30%;
    height: 150px;
    margin-right: 20px;
  }
  #R2 {
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;    
  }
  .cart .brand {
    color: #8e8888;
    font-size: 17px;
    text-align: center;
  }
  .cart p {
    font-size: 20px;
    font-weight: bold;
  }
  #R3 {
    background-color: white;
    padding: 20px;
  }
  #R31 {
    display: flex;
    justify-content: space-between;
  }

  #footer {
    text-align: center;
    background-color: white;
    width: 100%;
    height: 70px;
    padding: 20px;
  }

  @media only screen and (max-width: 800px) {
    #image{
      display: none;
    }
    .L4 input{
      width: 75%;
    }
    #country {
      width: 70%;
    }
    .left{
      width: 90%;
      margin: auto;
      margin-top: 15px;
    }
    .right{
      font-size: 10px;
      width: 90%;
      margin: auto;      
    }
    #container{
      width: 95%;
      display:flex ;
      flex-direction: column-reverse;
    }
  }