* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
    padding: 0px;
    background-color: blanchedalmond;
  }
  #container {
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
   img{
    margin: auto;
    margin-top: 10px;
    width: 25%;
  }
  #register {
    width: 60%;
    margin: auto;
    padding: 5%;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10%;
  }
  #login {
    width: 60%;
    margin: auto;
    padding: 7%;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10%;
  }
  #join {
    width: 34%;
    padding: 2%;
    background-color: blanchedalmond;
  }
  #signin {
    width: 38%;
    padding: 2%;
    background-color: blanchedalmond;
  }
  #SIGNUP:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(254, 223, 177);
}
#SIGNUP,#SIGNIN{
  width: 70%;
  margin: auto;
  margin-top: 20px;
  border-radius: 26px;
}
  #SIGNIN:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(254, 223, 177);
  }
  form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  form > input, select {
    margin-top: 30px;
    padding: 3%;
    background-color: white;
    border: 1px solid black;
  }
  #link {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (max-width: 900px) {
    #container{
      width: 70%;
    }
}