*{
    box-sizing: border-box;
}
body{
    margin:0px;
    padding: 0px;
}
nav{
    width:100%;
}
#navbar{
    margin: auto; 
    background-color: #2d2d2d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;    
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    color: #2d2d2d;
    background-color: #eeeeee;
}
#navbar2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #525050;
    color: white;
    padding-left: 10%;
    padding-right:10%;   
}
#navbar2 button{
    background-color: #525050;
    height: 50px;
    border: none;
    color: white;
    width: 10%;
}
#navbar2 button:hover{
    cursor: pointer;
    color: #2d2d2d;
    background-color: #eeeeee;   
}
#navbar3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:1% 5% 1% 5%;
    background-color:rgb(255 56 92) ;
}
#navbar3 img{
    width: 100%;
}
#navbar3 button{
    background-color:rgb(255 56 92) ;
    width: 70px;
    border: none;
    font-size:medium
}
#navbar3 button:hover{
    cursor: pointer;
    color: #525050;
    background-color: #eeeeee;
}

#bot1{
    padding: 2% 3% 2% 2%;
    margin: auto;
    text-align: center;
    background-color: #f97fa0;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
}
#SALE{
    width: 120px;
    height: 40px;
    background-color: #000000;
    color: white;
    border-radius: 20px;
}
#bot1 button:hover{
    cursor: pointer;
    color: black;
    background-color: #eeeeee;
}
#bot4{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#bot4 img{
    width: 100%;
}
#bot3{
    width: 85%;
    margin: auto;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#bot3 div{
    width: 23%;
    text-align: center;
    font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
}
#bot3 div img{
    width: 100%;
}
#bot3 h3:hover{
    cursor: pointer;
    color: blue;
}
#footer{
    margin-top: 3%
}
#footer img{
    width: 100%;
}

@media only screen and (max-width: 500px) {
    #navbar .a{
        display: none;
    }
    #navbar{
        justify-content:space-between;
    }
    #bot3{
        display: flex;
        flex-direction: column;
    }
    #bot3 div{
        width:80%;
        margin: auto;
    }
}
@media only screen and (max-width: 660px) {
    #navbar2{
        display: none;
    }
}